@import "./../../index.scss";
.StoriesLayout {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    .topContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #e7e4e4;

      .stories,
      .reels,
      .rooms {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding-bottom: 1rem;
        cursor: pointer;
        // border-bottom: 4px solid #1877f2;
      }
      .stories.active,
      .reels.active,
      .rooms.active {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding-bottom: 1rem;
        border-bottom: 4px solid #1877f2;
        .storiesIcon {
          color: #1877f2 !important;
        }
      }
    }
    .downContainer {
      overflow: hidden;
      position: relative;
      min-height: 260px;
      overflow: hidden;
      .storiesWrapper {
        margin-top: 1rem;
        display: flex;
        //   justify-content: space-between;
        align-items: center;
        position: relative;
        overflow-x: auto;
        gap: 10px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        // padding: 2rem 1rem;
        // & .Story:first-child/*nth-child(1) */ {
        //   border-radius: 0 15px 15px 0;
        // }
        overflow: hidden;
      }
      .left {
        left: 30px;
      }
      .right {
        left: 30px;
      }
    }
    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      border-radius: 10px;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      padding-left: 0px;
      padding-right: 0px;
      .topContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #e7e4e4;
        margin: 0px;
        .stories,
        .reels,
        .rooms {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
          padding-bottom: 1rem;
          cursor: pointer;
          // border-bottom: 4px solid #1877f2;
        }
        .stories.active,
        .reels.active,
        .rooms.active {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
          padding-bottom: 1rem;
          border-bottom: 4px solid #1877f2;
          .storiesIcon {
            color: #1877f2 !important;
          }
        }
      }
      .downContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red;
        overflow: hidden;
        position: relative;
        // min-height: 260px;
        height: 110px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        .storiesWrapper {
          // background-color: #1877f2;
          // margin-top: 1rem;
          display: flex;
          //   justify-content: space-between;
          align-items: center;
          position: relative;
          overflow-x: auto;
          gap: 10px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          padding: 0 1rem;
          // & .Story:first-child/*nth-child(1) */ {
          //   border-radius: 0 15px 15px 0;
          // }
          overflow: hidden;
        }
        .left {
          left: 30px;
        }
        .right {
          left: 30px;
        }
      }
    }
  }
}
