@import "./../../../index.scss";
.register {
  position: absolute;
  top: 50%;
  @include mobile {
    overflow-y: scroll;
  }
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0px 1px 2px var(--shadow-1);
  width: 350px;
  border-radius: 10px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 1rem;
  height: fit-content;
  color: var(--color-primary);

  .register_header {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 10px;
    border-bottom: 1px solid var(--bg-third);
    // color: #606770;
    // font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    // font-size: 12px;
    // font-weight: normal;
    // line-height: 20px;
    .exit_icon {
      position: absolute;
      right: 0;
    }
    & span:first-of-type {
      font-weight: 700;
      font-size: 32px;
    }
    & span:last-of-type {
      font-size: 15px;
      color: var(--color-secondary);
    }
  }
  .register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .reg_line {
      display: flex;
      flex-direction: column;
      padding: 5px 0;
      gap: 5px;
    }
    .reg_col {
      position: relative;
      align-self: flex-start;
      margin-top: -3px;
      padding: 0 5px;
      padding-left: 0;

      .reg_line_header {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-left: 2px;
        color: #606770;
        font-size: 12px;
      }
      .reg_grid {
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        height: 35px;
        width: 100%;
        margin-bottom: 0.5rem;
        // label {
        //   width: 90px;
        //   display: flex;
        //   align-items: center;
        //   justify-content: space-between;
        //   font-size: 16px;
        //   color: var(--color-primary);
        //   border-radius: 5px;
        //   cursor: pointer;
        //   border: 1px solid var(--color-secondary);
        //   padding: 0 10px;
        // }
        .input_error_select_large {
          left: -97%;
          top: 15px !important;
        }
        .input_error {
          width: 350px;
        }
        select {
          width: 100px;
          font-size: 16px;
          color: var(--color-primary);
          background: var(--bg-primary);
          border-radius: 5px;
          cursor: pointer;
          // padding: 8px;
          border: 1px solid var(--bg-third1);

          border-radius: 4px;
          color: #1c1e21;
          font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
          font-size: 15px;
          font-weight: normal;
          height: 36px;
          line-height: 20px;
        }
        .gender {
          display: flex;

          width: 100px;
          font-size: 16px;
          color: var(--color-primary);
          background: var(--bg-primary);
          border-radius: 5px;
          cursor: pointer;
          padding: 8px;
          label {
            flex: 1;
            color: #1c1e21;

            font-size: 15px;
          }
          border: 1px solid var(--bg-third1);
        }
      }
      .reg_infos {
        color: var(--color-secondary); // #777;
        font-size: 11px;
        padding-bottom: 8px;
        span {
          color: var(--blue-color);
          cursor: pointer;
        }
      }
      .reg_btn_wrapper {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        .open_signup {
          width: 50%;
        }
      }
    }
  }
}
