.commentsHr {
  margin: 20px;
  color: #e7e4e4;
  background-color: rgb(190, 187, 187); //#e7e4e4;
  border: none;
  height: 1px;
}

.CommentsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  .inputWrapper {
    width: 100%;
    .currentUserCommentWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      width: 100%;
      .currentUser {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .userInput {
        width: 80%;
        height: 40px;
        border-radius: 20px;
        background-color: #f0f2f5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        input {
          outline: none;
          width: 100%;
          background-color: #f0f2f5;
          border: none;
          font-size: large;
        }
      }
    }
  }
  .Comments {
    margin-top: 0.3rem 1rem;
  }
}
