@import "./../../index.scss";
.Home {
  @include themify($themes) {
    width: 100%;

    //min-height: 100%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;

    // overflow-y: hidden;
    background-color: #f0f2f5;
    @include tablet {
      padding: 1rem 2px;
    }
    @include mobile {
      padding: 0.3rem 0.1rem;
    }
  }
}
