@import "./../../index.scss";
.NavBar {
  @include themify($themes) {
    height: 56px;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #ffffff; //#1877f2;
    border-bottom: 1px solid #e4e6eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 20px;
    .logoContainer {
      flex: 2.5;
      .logo {
        color: #1877f2;
      }
      cursor: pointer;
    }
    .searchContainer {
      flex: 5.5;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .search {
        width: 75%;

        background-color: #f0f2f5;
        border-radius: 30px;
        padding: 0 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        @include mobile {
          // .search {
          justify-content: center;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          // }
          .searchIcon {
            font-size: larger !important;
            margin-left: 10px !important;
            margin-right: 10px !important;
            width: 10px;
            height: 10px;
            color: gray;
          }
        }
        .searchIcon {
          font-size: larger !important;
          margin-left: 10px !important;
          margin-right: 10px !important;
          width: 30px;
          height: 30px;
          color: gray;
        }
        .searchInput {
          width: 70%;
          border: none;
          outline: none;
          background-color: #f0f2f5;
          padding-right: 8px;
          font-size: 1rem;
          @include mobile {
            display: none;
          }
        }
      }
    }
    .rightContainer {
      height: 100%;
      flex: 4;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .timeLine {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
      }

      .rightContainerProfileContainer {
        // flex: 1;
        // width: 30px;
        // height: 30px;
        // object-fit: cover;
        // border-radius: 50%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 1rem;
        .rightContainerProfileImg {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          background-color: #e4e6eb;
        }
      }
      .rightContainerIcons {
        height: 100%;
        //   width: 60%;

        // flex: 2;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        //   background-color: red;
        .chat,
        .notification,
        .friendRequest {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e4e6eb;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-left: 1rem;
          .navBarIcon {
            // color: #f0f2f5;
          }
          cursor: pointer;
        }
        // .notification {
        //   margin: 0 15px;
        // }
        //   .user {
        //     align-self: flex-end;
        //   }
      }
      @include mobile {
        .timeLine {
          display: none;
          width: 100%;
          position: sticky;
          z-index: 1000;
          top: 0;
        }
        .rightContainerProfileContainer {
          // flex: 1;
          // width: 30px;
          // height: 30px;
          // object-fit: cover;
          // border-radius: 50%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-left: 5px;
          .rightContainerProfileImg {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            background-color: #e4e6eb;
            flex: 1;
          }
        }
        .rightContainerIcons {
          height: 100%;
          //   width: 60%;
          // flex: 2;
          align-self: flex-end;
          display: flex;
          align-items: center;
          justify-content: space-around;

          margin-right: 5px; //   background-color: red;
          .chat,
          .notification,
          .friendRequest {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e4e6eb;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 8px;
            .navBarIcon {
              // color: #f0f2f5;
              width: 25px;
              height: 25px;
              color: black//rgb(47, 46, 46);
            }
            cursor: pointer;
          }
          // .notification {
          //   margin: 0 15px;
          // }
          //   .user {
          //     align-self: flex-end;
          //   }
        }
      }
    }
  }
}
